---
import "../pagestyle.css";
const jsonData = await import('../../lib/credits.json');
const sections = jsonData.sections;
---

<credits>
    <div class="normal">
        <h2>Credits</h2>

        {sections.map((section, index) => {
          return (
            <div key={section.name}>
              <h5 style="margin-top: 30px; margin-bottom: 15px;">{section.name}</h5>
              <ul style="display: grid; grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); gap: 20px;">
                {section.data.map((item, itemIndex) => (
                  <li key={item.name} style="display: flex; align-items: flex-start; text-align: left;">
                    <a href={`https://github.com/${item.github}`} target="_blank" rel="noopener noreferrer">
                      <img src={`https://github.com/${item.github}.png`} alt={`${item.name}'s GitHub`} width="45" height="45" style="border-radius: 50%; margin-right: 10px;" />
                    </a>
                    <div>
                      <a href={`https://github.com/${item.github}`} target="_blank" rel="noopener noreferrer">
                        {item.name}
                      </a>
                      <br/>
                      {item.desc}
                    </div>
                  </li>
                ))}
              </ul>
            </div>
          );
        })}
    </div>
</credits>
