---
import sidebarContents from '../lib/docs_sidebar.json';

const pathname = Astro.url.pathname;

function normalizePath(path) {
    return path.replace(/\/+$/, '');
}

const normalizedPathname = normalizePath(pathname);
---

<style is:global>
    @media (max-width: 1000px) {
        .sidebar {
            transform: translateX(-100%);
        }

        .sidebar-open .sidebar {
            transform: translateX(0);
        }
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 0.5rem;
        box-sizing: border-box;
        background-color: #18181a;
        transition: transform 0.3s;
        z-index: 1;

        position: fixed;
        width: 300px;
        left: 0;
        top: 56px;
        bottom: 0;
        border-top: 1px solid #101010;
        overflow-x: hidden;
        overflow-y: auto;

        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .sidebar-category {
        padding: 0.8rem;
    }

    .sidebar-category-title {
        color: white;
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 0.75rem;
    }

    .sidebar-category-items {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        border-left: 1px solid #363636;
    }

    .sidebar-item {
        padding: 0.5rem 0.5rem;
        color: #aaaaaa;
        text-decoration: none;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        margin-left: 8px;
    }

    .sidebar-item:not(.sidebar-item-active):hover {
        background: linear-gradient(180deg, #242424, #1f1f1f);
    }


    .sidebar-item-active {
        background: linear-gradient(180deg, #43b6b6, #1b6e70);
        color: #dafffc;
    }
</style>

<aside class="sidebar">
    {sidebarContents.map(s => (
        <div class="sidebar-category" key={s.name}>
            <div class="sidebar-category-title" onclick="toggleCategory(this)">{s.name}</div>
            <div class="sidebar-category-items">
                {s.children.map(c => {
                    const normalizedUrl = normalizePath(c.url);
                    return (
                        <a class={"sidebar-item" + (normalizedPathname === normalizedUrl ? " sidebar-item-active" : "")} href={c.url} key={c.url}>
                            {c.name}
                        </a>
                    );
                })}
            </div>
        </div>
    ))}
</aside>
