<style>
    /* Tab styles */
    .tab-container {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .tabs-wrapper {
        position: relative;
        display: flex;
        overflow: hidden;
        border-radius: 0.7rem;
        min-width: calc(50% - 7rem);
        background-color: #232323;
        border: 1.4px solid #444;
        padding: 0.3rem;
        margin-bottom: 1rem;
    }

    @media screen and (min-width: 1600px) {
        .tabs-wrapper {
            min-width: calc(30% - 7rem);
        }
    }

    .pill {
        position: absolute;
        height: calc(100% - 0.6rem);
        background-color: #000;
        border-radius: 0.4rem;
        border: 1.3px solid #444;
        transition:
            left 0.3s ease-in-out,
            width 0.3s ease-in-out;
        padding-bottom: 0.6rem;
        transform: translateZ(0);
        will-change: left, width;
    }

    .tab {
        cursor: pointer;
        padding: 0.5rem 1.5rem;
        color: #fff;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        position: relative;
        z-index: 1;
        transition: font-weight 0.3s ease-in-out;
    }

    .tab.active {
        font-weight: bold;
    }
</style>

<tabs>
    <div class="tab-container">
        <div class="tabs-wrapper" id="tabsWrapper">
            <div class="pill" id="activePill"></div>
            <div class="tab active" onclick="showTab('tab1')" data-tab="tab1">macOS</div>
            <div class="tab" onclick="showTab('tab2')" data-tab="tab2">Linux</div>
        </div>
    </div>
</tabs>

<script>
    function showTab(tabId) {
        const hideAllTabs = () => {
            document
                .querySelectorAll(".tab-content")
                .forEach((tab) => tab.classList.remove("active"));
            document
                .querySelectorAll(".tab")
                .forEach((tab) => tab.classList.remove("active"));
        };

        const showSelectedTab = (selectedTab) => {
            if (selectedTab) {
                selectedTab.classList.add("active");

                const tabPosition = selectedTab.offsetLeft;
                const tabWidth = selectedTab.offsetWidth;

                const activePill = document.getElementById("activePill");
                activePill.style.left = `${tabPosition}px`;
                activePill.style.width = `${tabWidth}px`;
            }
        };

        hideAllTabs();

        const selectedTab = document.querySelector(
            `.tab[data-tab="${tabId}"]`,
        );
        const selectedTabContent = document.getElementById(tabId);
        if (selectedTabContent) {
            selectedTabContent.classList.add("active");
        }

        showSelectedTab(selectedTab);
    }


    document.addEventListener("DOMContentLoaded", () => {
    const attachTabListeners = () => {
        document.querySelectorAll(".tab").forEach((tab) => {
            tab.addEventListener("click", () => {
                const tabId = tab.getAttribute("data-tab");
                showTab(tabId);
            });
        });
    };

    const resizePill = () => {
        const activeTab = document.querySelector(".tab.active");
        if (activeTab) {
            const tabPosition = activeTab.offsetLeft;
            const tabWidth = activeTab.offsetWidth;

            const activePill = document.getElementById("activePill");
            activePill.style.left = `${tabPosition}px`;
            activePill.style.width = `${tabWidth}px`;
        }
    };

    attachTabListeners();

    const initiallyActiveTab = document.querySelector(".tab.active");
    if (initiallyActiveTab) {
        const initialTabId = initiallyActiveTab.getAttribute("data-tab");
        showTab(initialTabId);
    }

    window.addEventListener("resize", resizePill);
});

</script>
